@use "/src/styles/colors" as c;

.Graph {
  width: min(90vw, 600px);
  border-radius: 20px;
  padding: 20px;
  margin: 0;
  background: c.$white;
  @media screen and (min-width: 768px) {
    padding: 25px;
  }
  @media screen and (min-width: 900px) {
    padding: 30px;
  }
  &__title {
    color: c.$dark-brown;
    font-size: 2rem;
  }
  &__chart {
    max-width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: end;
    gap: 2px;
    padding: 0;
  }
}
