@use "/src/styles/colors" as c;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: c.$cream;
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  @media screen and (min-width: 768px) {
    padding: min(10vh, 5rem);
  }
}
